pandas==3.0.5
geopandas==1.1.4
pyarrow
osmnx==2.1.1
networkx==3.6.1
folium
plotly
requests
scikit-learn==1.9.0
streamlit
streamlit-folium
gtfs-kit
pytest
aiohttp
reportlab
pypdf
fastapi
uvicorn
rasterio
openpyxl
python-calamine
